/* css code for nav section */
.logo-bar {
 letter-spacing: 1px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-link {
    color: white;
    margin-left:20px;
    font-size: larger;
}
.nav-link:hover{
 color: greenyellow;
}