/*nav section */
.logo-bar {
 letter-spacing: 1px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-link {
    color: white;
    margin-left:20px;
    font-size: larger;
}
.nav-link:hover{
 color: rgb(0, 0, 0);
}

/* hero section */

.profile-pic {
    border-radius:300px ;
}
.description  {
    text-align: center;
}

/* work section */

.work-title {
    font-weight: 600;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* skill section */

.skill-list >ul >li {
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: larger;
    
}
.skill-text {
    letter-spacing: 3px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
}
/* contact me section */

.contact-me {
    back
}

a img {
    height: 50px;
    text-decoration: none;
    transition: ease;
}
a img:hover {
    border-radius: 30px;
    background-color: chocolate;
    transition-duration: 0.7s;
}
.social-network {
    text-decoration: none;
    color: black;
    text-decoration-line: none;
}
.bg-radius {
    font-size: 45px;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-img-bottom {
    transition: transform 0.3s ease-in-out;
  }

  .card-img-bottom:hover {
    transform: scale(1.1);
  }



