/*nav section */
.logo-bar {
 letter-spacing: 1px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-link {
    color: white;
    margin-left:20px;
    font-size: larger;
}
.nav-link:hover{
 color: rgb(0, 0, 0);
}

/* hero section */

.profile-pic {
    border-radius:300px ;
}
.description  {
    text-align: center;
}
.head-1 {
    background-color: rgb(37, 37, 41);

}
/* work section */

.work-title {
    font-weight: 600;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* skill section */

.skill-list >ul >li {
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: larger;
    
}
/* contact me section */

.contact-me {
    back
}

a img {
    height: 50px;
    text-decoration: none;
    transition: ease;
}
a img:hover {
    border-radius: 30px;
    background-color: navy;
    transition-duration: 0.4s;
}
.social-network {
    text-decoration: none;
    color: black;
    text-decoration-line: none;
}




